/* CCS for Healpix HTML documentation */


/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
/* .BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold } */
/* .MATH     { font-family: "Century Schoolbook", serif; }  */
/* .MATH I   { font-family: "Century Schoolbook", serif; font-style: italic } */
.BOLDMATH   { font-family: "Century Schoolbook", serif; font-weight: bold  ; font-size: larger ; }
.MATH       { font-family: "Century Schoolbook", serif                     ; font-size: larger ; }
.MATH I     { font-family: "Century Schoolbook", serif; font-style: italic ; font-size: larger ; }
.MATH SUB   { font-family: "Century Schoolbook", serif                     ; font-size: smaller; }
.MATH SUB I { font-family: "Century Schoolbook", serif; font-style: italic ; font-size: smaller; }
.MATH SUP   { font-family: "Century Schoolbook", serif                     ; font-size: smaller; }
.MATH SUP I { font-family: "Century Schoolbook", serif; font-style: italic ; font-size: smaller; }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small } /*<small class="xtiny"> ... </small>*/
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller    }
SMALL.FOOTNOTESIZE	{ font-size : inherit }
SMALL.SMALL		{ font-size : inherit }
BIG.LARGE		{ font-size : inherit }
BIG.XLARGE		{ font-size : larger   }
BIG.XXLARGE		{ font-size : large    }
BIG.HUGE		{ font-size : x-large  }
BIG.XHUGE		{ font-size : xx-large } /*<big class="xhuge"> ... </big>*/

body { color: #000000;
	background: #FFFFFA;
	margin: 10px 10px 10px 10px;
	font: small 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}


p { 	padding: 0px 0px 0px 0px; 
	margin: 1.12em 0; 
	line-height: normal;
  }

blockquote { 
	font-size: inherit;
	line-height: normal;
}

tt { 
	font-family: "Lucida Console", "Lucida Sans Typewriter", Courier, sans-serif, monospace;
	font-size: larger;
}

/* heading styles */
h1, h2, h3, h4, h5 {
	font-family: 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	color: #555555;
	padding: 5px 10px 5px 0px;
}	

address { font-size: smaller }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */



/* document-specific styles come next */
/* DIV.abstract { color: #FF0000; }  */
DIV.centerline		{   }
DIV.em		{   }
DIV.navigation		{ 
	text-align: center;  
}
DIV.quote		{   }
DIV.small		{   }
DIV.verse		{   }

SPAN.Alph		{   }
SPAN.arabic		{   }
SPAN.bf		{   }
SPAN.it		{   }
SPAN.sc		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.tt		{   }


