**.o
**.lo
**.la
**.so
**/#*
**~
**.pyc
**.pyo
.libs
**/.deps
**/.dirstamp
libsharp-uninstalled.pc
libsharp-uninstalled.sh
libsharp.pc
libsharp.pc.in
perf.data*
/auto
/autom4te.cache
/m4
config.log
config.guess
config.status
config.sub
ltmain.sh
compile
libtool
missing
/comp
/configure
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/depcomp
/install-sh
